<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" media="screen,projection" />
</head>
<body>
    {% include 'probe_details.html' %}
</body>
</html>
