.page_body {
    background-color: #283593;
}

.container_color {
    background-color: inherit;
}

.container_text {
  color: #9FA8DA;
}
.card_small {
    width: 200px;
    cursor: pointer;
}


.probe_time {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.probe_color {
    background-color: #fffbb7;
}

.card_adjust {
    margin-right: 5px;
}

.probe_id {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20%;
    font-size: 10px;
    font-weight: bold;
}

.center_title {
    align-items: center;
}


.uninitialized_probes {
    background-color: #BDBDBD;
}


.conf_name {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 10px;
    font-weight: bold;
}

.probe_state {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 10px;
    font-weight: bold;
}

.new_probe {
    width: 200px;
    height: 50px;
    border: 1px solid #000;
}

.probe_state {
    float: left;
}

.content_font {
    font-size: 10px
}

.content_id {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 15px;
}

.probe_config {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.last_message {
    float: right;
    font-size: 10px;
}

.probe_owner {
    clear: left;
}

.probe_name {
    float: left;
}

.probe_id {
    float: right;
}
