/*body {
  background-color: white;
}*/
.toggle-vis:hover {
  background-color: white; /* Green */
  border: none;
  /*padding: 15px 32px;*/
  /*text-align: center;*/
  text-decoration: underline;
  text-decoration-color: blue;
  display: inline-block;
  /*font-size: 16px;*/
}
