.probe_on{
  background-color:'#00FF00';
}
.shutdown_initialised{
  background-color:'#00FFFF';
}
.probe_off{
  background-color:'#0000FF';
}
.battery_failure{
  background-color:'#FFFF00';
}
.offline{
  background-color:'#FF0000';
}
.uninitialized_probe{
  background-color:'#eb42f4';
}
/*title {
  background-color:'#FF0000';
}
td {
  background-color:'#FF0000';
}
body {
  background-color:#FF0000;
}
