<!DOCTYPE html>
<html>
  <head>
    <title>Command and Control Lite</title>
  </head>
  <body>
    <table border="1" cellspacing="0" class="display dataTables_wrapper" id="active_probes" width="100%">
      <thead>
        <tr>
          <th>probe_state</th>
          <th>last_probe_message</th>
          <th>configurationName</th>
          <th>probeName</th>
        </tr>
      </thead>
      <tbody>
	    {% for res in results %}
        <tr>
          <td class="{{ res.state | refactor_this}}" id="probe_state{{ res.probeName | remove_colon }}">{{ res.state}}</td>
          <td id="last_probe_message{{ res.probeName | remove_colon }}">{{ res.last_probe_message}}</td>
          <td class="c1">{{ res.configName }}</td>
          <td class="c1">{{res.probeName}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <table border="1" cellspacing="0" class="display dataTables_wrapper" id="inactive_probes" width="100%">
      <thead>
        <tr>
          <th>probe_state</th>
          <th>last_probe_message</th>
          <th>configurationName</th>
          <th>probeName</th>
        </tr>
      </thead>
      <tbody>
	    {% for res in results %}
        <tr>
          <td class="{{ res.state | refactor_this}}" id="probe_state{{ res.probeName | remove_colon }}">{{ res.state}}</td>
          <td id="last_probe_message{{ res.probeName | remove_colon }}">{{ res.last_probe_message}}</td>
          <td class="c1">{{ res.configName }}</td>
          <td class="c1">{{res.probeName}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </body>
</html>