<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Command and Control</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/states.css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript">
    </script>
    <title></title>
</head>

<body>
    <div class="d-flex justify-content-around">
        <form action="{{url_for('.index')}}" id="home_button">
            <button class="btn btn-outline-info btn-sm float-right" type="submit">Home VIew</button>
        </form>
    </div>
    {% include 'content.html' %}
</body>

</html>
