<!DOCTYPE html>
<html>
  <head>
    <title>Command and Control</title>
  </head>
  <body>
    <div id="uninitialized_probes">
      <div class="container-fluid container_color">
        <small class="h6 container_text">Uninitialized Probes</small>
        <div class="row">
	   {% for res in results %}
          <div class="card card_small m-1 uninitialized_probes" id="probe{{ res.probeName | remove_colon }}">
            <a href="{{'/details/' +res.probeName}}"></a>
            <div class="card-block">
              <div class="conf_name" id="configurationName{{ res.probeName | remove_colon }}">{{ res.configName}}</div>
              <div class="probe_time" id="last_probe_message{{ res.probeName | remove_colon }}">{{ res.last_probe_message | humanize_time }}</div>
              <div class="probe_state" id="probe_state{{ res.probeName | remove_colon }}">{{ res.state }}</div>
              <div class="text-truncate probe_id" id="probeName{{ res.probeName | remove_colon }}">{{ res.probeName }}</div>
            </div>
          </div>
    {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>