<!DOCTYPE html>
<html>
  <head>
    <title>Command and Control</title>
  </head>
  <body>
    <div>
 Toggle Column:
      <a class="toggle-vis" data-column="1">probe_state    |   </a>
      <a class="toggle-vis" data-column="2">last_probe_message    |   </a>
      <a class="toggle-vis" data-column="3">last_heartbeat    |   </a>
      <a class="toggle-vis" data-column="4">up_since    |   </a>
      <a class="toggle-vis" data-column="5">restart_cause    |   </a>
      <a class="toggle-vis" data-column="6">last_restart_time    |   </a>
      <a class="toggle-vis" data-column="7">last_power    |   </a>
      <a class="toggle-vis" data-column="8">messages_per_hour    |   </a>
      <a class="toggle-vis" data-column="9">messages_per_day    |   </a>
      <a class="toggle-vis" data-column="10">configurationName    |   </a>
      <a class="toggle-vis" data-column="11">dataExpiry    |   </a>
      <a class="toggle-vis" data-column="12">ScalingFactorVoltage    |   </a>
      <a class="toggle-vis" data-column="13">probeName    |   </a>
      <a class="toggle-vis" data-column="14">ScalingFactorCurrent    |   </a>
      <a class="toggle-vis" data-column="15">NumberOfChannels    |   </a>
      <a class="toggle-vis" data-column="16">address    |   </a>
      <a class="toggle-vis" data-column="17">DeviceType    |   </a>
      <a class="toggle-vis" data-column="18">CommDeviceName    |   </a>
    </div>
    <table border="1" cellspacing="0" class="display" id="probelist" width="100%">
      <thead>
        <tr>
          <th>probe_state</th>
          <th>last_probe_message</th>
          <th>last_heartbeat</th>
          <th>up_since</th>
          <th>restart_cause</th>
          <th>last_restart_time</th>
          <th>last_power</th>
          <th>messages_per_hour</th>
          <th>messages_per_day</th>
          <th>configurationName</th>
          <th>dataExpiry</th>
          <th>ScalingFactorVoltage</th>
          <th>probeName</th>
          <th>ScalingFactorCurrent</th>
          <th>NumberOfChannels</th>
          <th>address</th>
          <th>DeviceType</th>
          <th>CommDeviceName</th>
        </tr>
      </thead>
      <tbody>
	    {% for probe in probe_configs %}
	    {% set probe_id = probe.probeName %}
	    {% set test = sqldb.session.query(ProcessProbe).filter_by(probe_id=probe_id).first() %}
        <tr>
          <td class="{{ test.state | refactor_this}}" id="probe_state{{ probe.probeName | remove_colon }}">{{ test.state}}</td>
          <td id="last_probe_message{{ probe.probeName | remove_colon }}">{{ test.last_probe_message}}</td>
          <td id="last_heartbeat{{ probe.probeName | remove_colon }}">{{ test.last_heartbeat}}</td>
          <td id="up_since{{ probe.probeName | remove_colon }}">{{ test.on_since}}</td>
          <td id="restart_cause{{ probe.probeName | remove_colon }}">{{ test.last_state}}</td>
          <td id="last_restart_time{{ probe.probeName | remove_colon }}">{{ test.last_restart_time}}</td>
          <td id="last_power{{ probe.probeName | remove_colon }}">{{ test.last_power}}</td>
          <td id="messages_per_hour{{ probe.probeName | remove_colon }}">{{ test.messages_per_hour}}</td>
          <td id="messages_per_day{{ probe.probeName | remove_colon }}">{{ test.messages_per_day}}</td>
          <td class="c1">{{ get_config_name(probe) }}</td>
          <td class="c1">{{ probe.dataExpiry}}</td>
          <td class="c1">{{ probe.ScalingFactorVoltage}}</td>
          <td class="c1">{{ probe.probeName}}</td>
          <td class="c1">{{ probe.ScalingFactorCurrent}}</td>
          <td class="c1">{{ probe.NumberOfChannels}}</td>
          <td class="c1">{{ probe.address}}</td>
          <td class="c1">{{ probe.DeviceType}}</td>
          <td class="c1">{{ probe.CommDeviceName}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </body>
</html>