<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/device_info.css') }}"/>

     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type=text/javascript src="{{url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

    <script type=text/javascript src="{{url_for('static', filename='js/device_info.js') }}"></script>
</head>
<body>
<div class="d-flex justify-content-between">
<form action="{{url_for('.index')}}" id="card_page">
    <button class="btn btn-outline-info btn-sm" type="submit">GO BACK</button>
</form>
</div>
    {% include 'probe_details.html' %}
</body>
</html>
