<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link type="text/css" rel="stylesheet" href="../static/css/material_icons.css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="../static/css/cmdctrl_cards.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../static/js/materialize.min.js"></script>
</head>

<body>
  <div class="container col s9">
    <div id="{{ res.probeName | remove_colon }}" class="row">
      <div class="col m4">
        <div class="card blue-grey darken-1 card_small">
          <div class="card-content black-text">
            <div id="configurationName{{ res.probeName | remove_colon }}" class="card_conf_name">EKODISCO</div>
            <div id="last_probe_message{{ res.probeName | remove_colon }}" class="black-text content_font card_time">5 secs ago</div>
            <div id="probe_state{{ res.probeName | remove_colon }}" class="content_font card_state">PROBE ON</div>
            <div id="probeName{{ res.probeName | remove_colon }}" class="truncate content_font card_id">23276904222178076905222438912</div>
          </div>
        </div>
        </div>


        <div class="col m4 card_adjust">
          <div class="card blue-grey darken-1 card_small">
            <div class="card-content black-text">
              <div id="configurationName{{ res.probeName | remove_colon }}" class="card_conf_name">EKODISCO</div>
              <div id="last_probe_message{{ res.probeName | remove_colon }}" class="black-text content_font card_time">5 secs ago</div>
              <div id="probe_state{{ res.probeName | remove_colon }}" class="content_font card_state">PROBE ON</div>
              <div id="probeName{{ res.probeName | remove_colon }}" class="truncate content_font card_id">23276904222178076905222438912</div>
            </div>
          </div>
        </div>


        <div class="col m4">
          <div class="card blue-grey darken-1 card_small">
            <div class="card-content black-text">
              <div id="configurationName{{ res.probeName | remove_colon }}" class="card_conf_name">EKODISCO</div>
              <div id="last_probe_message{{ res.probeName | remove_colon }}" class="black-text content_font card_time">5 secs ago</div>
              <div id="probe_state{{ res.probeName | remove_colon }}" class="content_font card_state">PROBE ON</div>
              <div id="probeName{{ res.probeName | remove_colon }}" class="truncate content_font card_id">23276904222178076905222438912</div>
            </div>
          </div>
        </div>


        <div class="col m4">
        <div class="card blue-grey darken-1 card_small">
          <div class="card-content black-text">
            <div id="configurationName{{ res.probeName | remove_colon }}" class="card_conf_name">EKODISCO</div>
            <div id="last_probe_message{{ res.probeName | remove_colon }}" class="black-text content_font card_time">5 secs ago</div>
            <div id="probe_state{{ res.probeName | remove_colon }}" class="content_font card_state">PROBE ON</div>
            <div id="probeName{{ res.probeName | remove_colon }}" class="truncate content_font card_id">23276904222178076905222438912</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>


<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<div class="row">
  <div class="col m4">
    <div class="card card_small">
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col m4">
    <div class="card">
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
