<!DOCTYPE HTML>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/cmdctrl_cards.css') }}" />
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/datatables.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/cmdctrl_cards.js') }}"></script>
    <title></title>
</head>

<body>
    <div class="d-flex justify-content-around">
        <form action="{{url_for('.cmdctrl_table')}}">
<!--         <form action="{{url_for('.index')}}" id="home_button"> -->
            <button class="btn btn-outline-info btn-sm" type="submit">Table View</button>
        </form>
    </div>
    {% include 'cmdctrl_card.html' %}
</body>

</html>
