<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/no_probeId.css') }}" media="screen,projection" />
</head>

<body>
    <div class="d-flex justify-content-between">
        <form action="{{url_for('.index')}}" id="card_page">
            <button class="btn btn-outline-info btn-sm" type="submit">GO BACK</button>
        </form>
    </div>
    <div class="container">
        <div>
            <strong>NO PROBE ID FOUND</strong>
        </div>
    </div>
</body>

</html>
