<!DOCTYPE html>
<html>
  <head>
    <title>{{registered_user}}</title>
  </head>
  <body>
    <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <th>{{device_owner}}</th>
            <td id="{{device_owner | refactor_this}}">{{registered_user}}</td>
          </tr>
	{% for param, gres in probe_details_params %}
          <tr>
            <th>{{param}}</th>
            <td id="{{param | refactor_this}}{{probe_id | remove_colon}}">{{gres}}</td>
          </tr>
	{% endfor %}{% for detail, mongo in probe_mongo_params %}
          <tr>
            <th>{{detail}}</th>
            <td id="{{detail | refactor_this}}{{probe_id | remove_colon}}">{{mongo_probe[mongo]}}</td>
          </tr>
	{% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>