<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" media="screen,projection" />
    <!-- <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/tamper_history.css') }}"/> -->

     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type=text/javascript src="{{url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>


    <script type=text/javascript src="{{url_for('static', filename='js/tamper_history.js') }}"></script>
</head>
<body>
<div class="d-flex justify-content-between">
<form action="{{url_for('.index')}}" id="card_page">
    <button class="btn btn-outline-info btn-sm" type="submit">GO BACK</button>
</form>
</div>
    {% include 'tamper_content.html' %}
</body>
</html>
