<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="container">
      <table class="table" id="tamper-history">
        <thead>
          <tr>
	    {% for header in tamper_headers %}
            <th>{{ header }}</th>
    {% endfor %}
          </tr>
        </thead>
        <tbody>
	    {% for history in tamper_history %}
	    {% set channel_state, channel_number, channel_source, tamper_time = history %}
          <tr>
            <td>{{ channel_state }}</td>
            <td>{{ channel_number }}</td>
            <td>{{ channel_source }}</td>
            <td>{{ tamper_time }}</td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>